* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background: black;
}

.grid {
  display: grid;
  grid: repeat(12, 1fr)/repeat(12, 1fr);
  height: 100vh;
  width: 100vw;
  place-items: center;
}

.Text {
  grid-area: 1/5/13/9;
  // border: 1px solid white;
}

.PlayerState {
  grid-area: 1/1/13/4;

}

.EnemyState {
  grid-area: 1/9/13/13;
}

.Narration { 
  grid-area: 1/5/9/9;
}

.Queue {
  grid-area: 1/5/4/9;
  display: flex;
  .turn {
    margin: 0 7px;
  }
}

.login {
  grid-area: 5/5/9/9;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;

  a {
    text-decoration: none;
  }
}

.Save {
  grid-area: 1/10/2/12;

  button {
    padding: 10px;
  }
}